@font-face {
  font-family: cocogoose;
  src: url('../Conference-page/fonts/Cocogoose/Pro/Thin-trial.ttf');
}

/* Black Nav */
#nav-lg {
  height: 30px;
}

#nav-lg ul {
  margin-right: 100px;
}

#nav-lg ul li a {
  margin-right: 20px;
}

#nav-sm {
  background-color: #d3d3d3;
  height: 30px;
  /* margin-bottom: 10px; */
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 3;
}

#dropdownMenuLink:hover {
  cursor: pointer;
  width: 35px;
}

/* Second Nav */
.nav-2-left > h1 {
  margin-left: 100px;
  margin-right: 350px;
  margin-top: 10px;
}

.nav-2-right {
  margin-top: 20px;
}

#nav-2 ul li a {
  margin-right: 200px;
}

/* Main home page */
.main-page {
  position: relative;
}

.center {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
}

.first-p {
  color: #ec5242;
  font-size: 20px;
}

.theme {
  color: #ec5242;
  font-size: 35px;
  text-transform: uppercase;
  font-family: 'cocogoose', sans-serif;
}

.title {
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 20px;
  position: relative;
}

/* Program */
.title > hr {
  position: absolute;
  width: 10%;
  color: red;
  height: 10%;
  margin-left: 120px;
  margin-top: 3px;
}

.row-one {
  border: 1px solid #272a31;
  border-radius: 10px;
  background-color: gray;
}

.row-one > div {
  margin-top: 20px;
}

.row-one > h4 {
  font-size: 20px;
}

.end-title {
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

.end-title > hr {
  position: absolute;
  width: 68%;
  margin-left: 36px;
  margin-top: 0;
}

/* Featured speakers */
.article2 {
  margin-top: 100px;
}

.article2-header {
  display: flex;
  font-size: 25px;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-top: -40px;
}

.border-bottom {
  position: absolute;
  height: 3px;
  width: 5%;
  background-color: #ec5242;
  top: 35px;
}

.article2-articles {
  display: grid;
  grid-template-columns: repeat(2, 43%);
  grid-template-rows: repeat(3, 1fr);
  margin-top: 100px;
  grid-gap: 50px;
}

.article-elements {
  display: flex;
}

.article2-articles1 {
  position: relative;
}

.second-img {
  height: 100px;
}

.article-elements-img {
  position: absolute;
  height: 70%;
  width: 120px;
  z-index: 1;
  left: 18px;
}

.article-elements-img-1 {
  position: absolute;
  height: 75px;
  width: 70px;
  top: -25px;
}

.div2 {
  margin-left: 150px;
  font-size: small;
  color: #272a31;
}

.semi-title {
  position: relative;
  font-size: 18px;
  font-style: italic;
  color: #ec5242;
}

/* Footer one */
.footer1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(43, 40, 40);
  margin-top: 100px;
}

.footer1-header {
  position: relative;
  font-size: 18px;
  font-style: italic;
  color: rgb(184, 184, 184);
  padding-top: 20px;
}

.border-bottom-footer {
  position: absolute;
  height: 2px;
  width: 30%;
  background-color: #ec5242;
  top: 48px;
  left: 20px;
}

.lower-footer {
  color: #d3d3d3;
  display: flex;
  justify-items: center;
  padding-top: 20px;
  margin-bottom: 10px;
}

.lower-footer ul li {
  margin-right: 10px;
}

/* footer 2 */
.footer2 {
  display: flex;
  background-color: #d3d3d3;
  justify-content: center;
}

.footer2-elements {
  padding-top: 50px;
  display: flex;
  color: rgb(184, 184, 184);
}

.footer2-two {
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  font-size: 15px;
  color: black;
}

.footer-svg {
  height: 60px;
}

/* about page */
.about {
  margin-top: 70px;
  border-bottom: 1px solid #555;
}

.about1 {
  width: 50%;
}

.main-img {
  border: 1px solid #555;
  margin-top: 10px;
}

/* About page profiles */
.profiles {
  margin-top: 50px;
}

.profiles h4 {
  font-size: 22px;
  color: #272a31;
  font-weight: 900;
}

.profiles2 {
  display: flex;
  justify-content: center;
}

.profiles2-one {
  position: relative;
  padding-right: 30px;
}

.profiles2-one-text {
  position: absolute;
  top: 50px;
  left: 40px;
  text-align: center;
  color: #fff;
}

.profiles2-one img {
  height: 200px;
  width: 350px;
}

/* Ticket page */
.ticket-page {
  background-color: #d3d3d3;
  margin-top: -72px;
}

.ticket-page > ul > li {
  list-style: square;
  color: #ec5242;
}

.table {
  margin-bottom: 50px;
}

.ticketarrow {
  position: absolute;
  top: 156%;
  left: 46%;
}

.ticketarrow > img {
  height: 50px;
}

.ticketpage-second-part {
  margin-top: 50px;
}

.ticketpage-second-part > h1 {
  margin-bottom: 50px;
}

.ticketpage-second-part > ul {
  margin-bottom: 50px;
  list-style: square;
  color: #ec5242;
}

.first-form,
.second-form {
  border: 1px solid gray;
}

.first-form {
  margin-bottom: 20px;
}

.second-form {
  margin-bottom: 20px;
}

.serving {
  background-color: #d3d3d3;
}

.submit-button {
  border: 1px solid #ec5242;
  background-color: #ec5242;
  width: 30%;
  align-content: center;
  margin-left: 400px;
}

@media screen and (max-width:768px) {
  .main-img {
    padding-top: 20px;
    border: 1px solid #555;
    margin-left: 20px;
    width: 80%;
  }

  .profiles2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .profiles2-one {
    position: relative;
    padding-left: 60px;
    padding-right: 15px;
    margin-top: 10%;
  }

  .profiles2-one-text {
    position: absolute;
    top: 50px;
    left: 90px;
    text-align: center;
    color: #fff;
  }

  .article2-articles {
    grid-template-columns: 1fr;
    margin-top: 50px;
  }

  .about1-first-text h4 {
    width: 100%;
    display: block;
  }

  .row-one > div > i {
    display: none;
  }

  .row-one > h4 {
    margin-right: 20px;
    align-content: center;
  }

  .text-center > hr,
  .end-title > hr {
    display: none;
  }

  .ticket-page > ul > li {
    list-style: none;
  }
}
